#Class文件就不必提交上去了，原因是已经提交了.java格式的文件
*.class
#package  file
*.war
*.ear
#kdiff3 ignore
*.orig
#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpath

#idea file
.idea/
/idea/
*.ipr
*.iml
*.iws

#log file
*.log
*.cache
*.diff
*.patch
*.tmp

.DS_Stare
Thumbs.db
